* {
  box-sizing: border-box;
}

html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 62.5%; /* equivalente a 10px */
}

h1 {
  font-size: 3rem;
  color: #562af1;
  margin: 15px 0px 5px;
  /* 	margin-bottom: 0;
	padding-left: 2rem;
	padding-bottom: 5px;
	padding-top: 0px; */
}

h2 {
  color: #454545;
  text-align: center;
}

h3 ~ ul {
  padding-top: 100px;
}

p {
  /* 	background-color: #fff; */
  color: #2b264f;
  /* 	padding-left: 2rem; */
  padding-bottom: 10px;
  margin-top: 0%;
  margin-bottom: 0%;
  font-size: 1.6rem; /* equivalente a 16px */
}

/* #primeiro-link a {
	color: #933;
} */

.boxlabel {
  border: 2px solid #beb8d6;
  background-color: #fff;
  border-radius: 20px; /* Para colocar bordas arredondadas no box */
}

form div {
  border: 0;
  /* border-top: 1px solid #33f;
	border-left: 1px solid #33f;
	border-right: 1px solid #33f; */
  padding-left: 2rem;
  padding-bottom: 5px;
  padding-top: 20px;
  padding-right: 20px;
}

label {
  background: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  color: #2b264f;
}

p#teste {
  /* padding: 1rem; */
  padding-left: 0%;
}

[type='text'],
[type='email'],
textarea,
label {
  width: 100%;
  display: block;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  display: inline;
  height: 100vh;
}

.botton {
  margin-bottom: 20px;
}

section {
  background-color: #ccc;
  height: 100vh;
}

article img {
  border-radius: 20px;
}

div.titulo {
  /* width: 300px; */
  /* 	background-color: red; */
  display: flex;
  align-items: end;
  flex-wrap: wrap;
  /* flex-flow: column; */
}

.titulo-img {
  margin-right: 10px;
}

blockquote {
  font-size: 1.5em;
  line-height: 1.5;
  margin-top: 20px;
}

.botao-contato,
.botao-contato a {
  padding: 15px 0;
}

/* .botao-contato a {
	padding: 10px 0;
} */

button {
  padding: 5px;
}

section::after {
  background: #ccc;
  content: '';
  display: table;
  clear: both;
}

.fixarRodape {
  background-color: #777;
  padding: 10px;
  bottom: 0;
  position: fixed;
  width: 100%;
  text-align: center;
}

/* MENU DA PÁGINA */

header {
  /* background-color: #eee; */
  /* background-repeat: no-repeat; */
  background-image: url('../imagem/background-title.png');
  height: 200px;
  text-align: center;
  font-size: 5rem;
  padding: 80px;
}

h3 {
  font-size: 2em;
  padding-top: 30px;
  /* 	margin: 0 0; */
}

nav {
  float: left;
  width: 30%;
  background: #ccc;
  padding: 0 20px;
  display: inline;
  /* padding-bottom: 485px; */
  /* 	padding-top: 20px; */
}

nav ul {
  list-style-type: none;
  padding: 0;
  font-size: 20px;
}

.navegacao li {
  border-bottom: 1px solid #562bee;
  display: block;
  padding: 1rem 1rem 4rem 1rem;
  line-height: 1.6rem;
  /* 	margin-bottom: 20px; */
}

.navegacao a {
  background-color: transparent;
  /* 	font-size: 20px; */
  display: block;
  width: 100%;
  transition: 0.5s;
}

.sociais li {
  display: block;
  padding: 1rem 1rem 2rem 1rem;
  padding: 10px 0;
}

.sociais div {
  padding-left: 10px;
  padding-top: 10px;
}

.sociais img {
  margin-right: 10px;
}

ul li {
  font-size: 0.8em; /* equivale a 8px */
  width: 80%;
  height: 10px;
}

a {
  color: #336;
  text-decoration: none;
  padding: 10px;
}

a:active {
  position: relative;
  top: 1px;
}

.navegacao a:hover {
  color: #562af1;
  background: #eee;
  padding: 10px;
}

@media (max-width: 768px) {
  nav {
    width: 30%;
  }
  article {
    width: 70%;
  }
  .coluna {
    width: 100%;
    min-width: 320px;
  }
}

@media (max-width: 425px) {
  nav,
  article,
  .coluna {
    width: 100%;
    min-width: 320px;
  }
}
